@{ Layout = "_AdminLayout"; }
@model IEnumerable<ApaYah.Models.Blogs>
    
<br />
    <h3 align="center" style="font-family:'Comic Sans MS'">Published</h3>
<br />
<div class="card">
    <table class="table">
        <thead>
            <tr>
                <td align="center" width="30%">
                    <strong style="font-size:15px">@Html.DisplayNameFor(model => model.Title)</strong>
                </td>
                <td width="20%">
                    <strong style="font-size:15px">@Html.DisplayNameFor(model => model.Author)</strong>
                </td>
                <td align="center" width="10%">
                    <strong style="font-size:15px">@Html.DisplayNameFor(model => model.CreateDate)</strong>
                </td>
                <td align="center" width="10%">
                    <strong style="font-size:15px">@Html.DisplayNameFor(model => model.Status)</strong>
                </td>
                <td align="center" width="10%"><strong style="font-size:15px">Take Down</strong></td>
                <td align="center" width="10%"><strong style="font-size:15px">Detail</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @{ string a = item.Title;
            a = a.Length > 80 ? a = a.Substring(0, 80) + "..." : a;
@Html.DisplayFor(modelItem => a); }
    </td>
    <td>
        @{ a = item.Author;
            a = a.Length > 30 ? a = a.Substring(0, 30) + "..." : a;
@Html.DisplayFor(modelItem => a); }
    </td>
    <td align="center">
        @Html.DisplayFor(modelItem => item.CreateDate)
    </td>
    <td align="center">
        @Html.DisplayFor(modelItem => item.Status)
    </td>

                    <td align="center">
                        <a href="@Url.Action("Unggah", "Home", new { id = item.Id })"
                           class="fas fa-download fa-2x" title="Take Down" style="color:red"
                           onclick="if (! confirm('Yakin untuk Take-Down blog ini ?')) { return false; }">
                        </a>
                    </td>
                    <td align="center">
                        <a href="@Url.Action("Detail", "Home", new { id = item.Id })" class="fas fa-book fa-2x" title="Detail" style="color:gray">
                        </a>
                    </td>
                                    
</tr>}
        </tbody>
    </table>
</div>

@*<div class="card">
        <div class="card-body">
            <a href="" style="color:teal"><h3>Cara menonton video di Youtube dengan Youtube !</h3></a>
        </div>
    </div>*@

@*<div class="card">
        <div class="card-body">
            <a href="" style="color:teal"><h3>Cara Naik Ke Langit Ke 7 !</h3></a>
        </div>
    </div>*@

@*<div class="card">
        <div class="card-body">
            <a href="" style="color:teal"><h3>Hijau Muda Dan Hijau Tua Beda Berapa Tahun ?</h3></a>
        </div>
    </div>*@
